---

---
<div class="about">
	<div class="about-text">
		<h5>About Us</h5>
		<h3>Let us takecare of all your cleaning service needs.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.Lo</p>
		<div class="button">
			<button class="btn-black">Request a quote</button>
		</div>
	</div>
	<div>
		<img src="../../public/images/about.png" alt="Guy with apron">
	</div>
</div>

<style>
	.about{
		display: flex; 
		align-items: center;
		justify-content: center;
		gap: 10%;
	}
	.about-text{
		max-width: 616px;
		width: 100%;
	}
	h5{
		font-size: 16px; 
		font-weight: 600;
	}
	h3{
		font-size: 48px; 
		font-weight: 700;
		margin: 0; 
	}
	p{
		font-size: 18px; 
		font-weight: 400;
	}
	.btn-black{
		background-color: #000000;
		color: #FFFFFF; 
		font-size: 16px; 
		weight: 400; 
		width: 156px; 
		height: 40px;
		border-radius: 5px;
	}
</style>