<footer>
  <div class="container">
   <div class="right_side">
      <h2></h2>
      <p>Join our newsletter to stay up to date on features and releases.</p>
      <form>
        <input type="text" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
      </form>
      <p>By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
   </div>
   <div class="left_side">
      <div class="about">
        <h3>About Us</h3>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Teams</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="services">
        <h3>Services</h3>
        <ul>
          <li>Window</li>
          <li>Residential</li>
          <li>Commercial</li>
          <li>Apartment</li>
          <li>Residential</li>
        </ul>
      </div>
      <div class="follow">
        <h3></h3>
        <ul>
          <li><a href=""><img src="/final-project/public/icon/facebook.svg">Facebook</a></li>
          <li><a href=""><img src="/final-project/public/icon/instagram.svg">Instagram</a></li>
          <li><a href=""><img src="/final-project/public/icon/twitter.svg">Twitter</a></li>
          <li><a href=""><img src="/final-project/public/icon/linkedin.svg">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="footer">
    <div class="footer_right">
      <p>2023 Ddsgnr. All right reserved.</p>
    </div>
    <div class="footer_left">
      <ul></ul>
    </div>

  </div>
</footer>