---

---

<header>
    <nav>
        <div class="logo">
            <img src="../../public/images/logo.png" alt="Ddsgnr Logo">
        </div>
        <menu>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <button class="btn-black">Request a Quote</button>
        </menu>
    </nav>
</header>

<style>
    header{
        height: 72px;
        width: 100%;
    }
    nav{
        max-width: 1312px;
        margin: auto;
        height: 40px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }
    menu{
        display: flex; 
        gap: 10px;
    }
    menu ul{
        display: flex;
        gap: 10px;
        list-style-type: none;
        font-weight: 400; 
        font-size: 16px;
    }
    a{
        color: #000000;
        text-decoration: none; 
    }
    .btn-black{
		background-color: #000000;
		color: #FFFFFF; 
		font-size: 16px; 
		weight: 400; 
		width: 156px; 
		height: 40px;
		border-radius: 5px;
	}
</style>