---

---

<header>
    <div class="top-header">
        <div class="top-info">
            <ul>
                <li class="bold">For emergency cases: 567 123 45 67</li>
                <li class="line">Location: 121 Wallstreet Street, NY , USA </li>
                <li class="line">Open hours: 9.00-24.00 Mon-Sat</li>
                <li class="line">Email:info@ddsgnr.com</li>
            </ul>
        </div>
        <div class="icons">
            <img src="../../public/icon/facebook.svg" alt="facebook icon">
            <img src="../../public/icon/instagram.svg" alt="instagram icon">
            <img src="../../public/icon/twitter.svg" alt="twitter icon">
            <img src="../../public/images/linkedin.svg" alt="linkedin icon">
        </div>
    </div>
    <nav>
        <div class="logo">
            <img src="../../public/images/logo.png" alt="Ddsgnr Logo">
        </div>
        <menu>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <button class="btn-black">Request a Quote</button>
        </menu>
        <img class="burger-menu" src="../../public/icon/burger.svg" alt="burger menu icon">
    </nav>
</header>

<style>
    *{
        box-sizing: border-box;
    }
    nav menu{
        display: none;
    }
    nav{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px 10px 25px;
        border-bottom: 1px solid #000000;
    }
    header{
        width: 100%;
    }
    .top-header{
        display: none;
    }
    @media (min-width: 1200px) {
        nav{
            padding: 0;
        }
        .burger-menu{
            display: none;
        }
        nav menu{
            display: flex;
        }
        .bold{
        font-weight: 600;
        }
        .line{
            position: relative;
        }
        .line::before{
            position: absolute; 
            content: ""; 
            width: 1px; 
            height: 30px; 
            left: -10px; 
            top: -5px;
            background-color: #000000;
        }
        .icons{
            display: flex; 
            align-items: center;
            gap: 20px;
        }
        .top-header{
            display: flex; 
            align-items: center;
            justify-content: space-between;
            max-width: 1312px;
            width: 100%;
            border-bottom: 1px solid #000000;
        }
        .top-info ul{
            display: flex; 
            list-style-type: none;
            gap: 25px;
            padding: 0;
        }
        header{
            /* height: 72px; */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        nav{
            max-width: 1312px;
            width: 100%;
            margin: auto;
            /* height: 40px; */
            display: flex; 
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #000000;
        }
        menu{
            display: flex; 
            gap: 20px;
            align-items: center;
        }
        menu ul{
            display: flex;
            gap: 10px;
            list-style-type: none;
            font-weight: 400; 
            font-size: 16px;
        }
        a{
            color: #000000;
            text-decoration: none; 
        }
        button{
            width: 156px; 
            height: 40px;
        }
    }
</style>