---

const {serviceImg, serviceName, serviceDetail } = Astro.props
---

<div class="serviceCard">
  <img src={serviceImg} alt="">
  <div class="detail">
    <h5 class="serviceName">{serviceName}</h5>
    <p class="serviceDetail">{serviceDetail}</p>
  </div>
</div>

<style>
  .serviceCard{
    margin: 15px;
    width:416px;
    height:494px;
    padding: 0px 0px 24px 0px;
    gap: 48px;
    border-radius: 5px;
    opacity: 0px;
    border: 0.5px solid #676767
  }
  /* .detail{
  } */
  .serviceName{
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
  }
  .serviceDetail{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
</style>