---
import OurTeamCard from "./OurTeamCard.astro";

const team = [
  {
    teamImg: "../../public/images/leslie.png",
    teamName: "Leslie Alexander",
    teamDetail: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros."
  },
  {
    teamImg: "../../public/images/ralph.png",
    teamName: "Ralph Edwards",
    teamDetail: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros."
  },
  {
    teamImg: "../../public/images/annette.png",
    teamName: "Annette Black",
    teamDetail: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros."
  },
  {
    teamImg: "../../public/images/savannah.png",
    teamName: "Savannah Nguyen",
    teamDetail: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros."
  }
];
---

<div class="team-container">
  <div class="team-heading">
    <h2>Our team</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="teamSection">
    {team.map(teamData => (
      <OurTeamCard
        teamImg={teamData.teamImg}
        teamName={teamData.teamName}
        teamDetail={teamData.teamDetail}
        class="teamCard"
      />
    ))}
  </div>
  <button id="viewMoreBtn">View All</button>
</div>

<script is:inline>
  const tCards = document.querySelectorAll(".teamCard");
  const tbtn = document.getElementById("viewMoreBtn");

  const updateDisplay = () => {
    if (window.innerWidth <= 600) {
        tCards.forEach((card, index) => {
        card.style.display = index < 3 ? "block" : "none";
      });
      tbtn.style.display = "block";
    } else {
      tCards.forEach(card => {
        card.style.display = "block";
      });
      tbtn.style.display = "none";
    }
  };

  updateDisplay();

  tbtn.addEventListener("click", () => {
    tCards.forEach(card => {
      card.style.display = "block";
    });
    tbtn.style.display = "none";
  });

  window.addEventListener("resize", updateDisplay);
</script>

<style>

  .teamSection{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .team-heading{
    text-align: center;
  }

  .team-heading p{
    margin: 0 auto;
    width: 50%;
    padding-bottom:50px;
  }

  h2{
    font-size: 3rem;
  }

  p{
    margin-bottom:70px;
  }

  #viewMoreBtn{
      display: none;
    }

  @media screen and (max-width:600px){

    .team-container{
      margin-bottom: 50px;
    }

    .teamSection{
      flex-direction: column;
      justify-content: center;
    }

    #viewMoreBtn{
      display: block;
      margin: 0 auto;
      width: 90%;
      padding:12px 24px;
      background-color: white;
      border: solid 1px;
      border-radius: 5px;
    }

    #viewMoreBtn:hover{
      background-color: black;
      color: white;
    }
  }
  

</style>