body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.btn-black{
    background-color: #000000;
    color: #FFFFFF; 
    font-size: 16px; 
    font-weight: 400;
    height: 48px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.btn-black:hover{
    background-color: #FFFFFF;
    color: black;
}

.btn-white{
    background-color: #FFFFFF;
    color: #000000; 
    font-size: 16px; 
    font-weight: 400;
    height: 48px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.btn-white:hover{
    background-color: #000000;
    color: white; 
}