---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutCard from "../components/AboutCard.astro"
const title = "About Us"
---
<BaseLayout pageTitle={title}>
    <main>
        <AboutCard/>
    </main>
</BaseLayout>