---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css' 
import ServiceSection from "../components/ServiceSection.astro"
import Footer from "../components/Footer.astro"
import OurTeam from "../components/OurTeam.astro"
---
	<BaseLayout>
    <main>
	<!-- <ServiceSection/> -->
    <OurTeam></OurTeam>
    </main>
    <Footer></Footer>
	</BaseLayout>
