---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css' 
import ServiceSection from "../components/ServiceSection.astro"
import Footer from "../components/Footer.astro"
import RequestQuote from "../components/RequestQuote.astro"
import OurTeam from "../components/OurTeam.astro"
---
	<BaseLayout>
    <main>
	<ServiceSection/>
    </main>
    <Footer></Footer>
	</BaseLayout>