---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css' 
import ServiceSection from "../components/ServiceSection.astro"
import Footer from "../components/Footer.astro"
import ServiceSection from "../components/ServiceSection.astro"
---
	<BaseLayout>
    <main>
<<<<<<< HEAD
		<ServiceSection/>
=======
        <h1>Hello world</h1>
				<ServiceSection/>
>>>>>>> 7ce728e (Added our service section)
    </main>
    <Footer></Footer>
	</BaseLayout>
