---

import OurTeam from "../components/OurTeam.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Our Team"
---
<BaseLayout pageTitle={title}>
  <main>
    <OurTeam/>
  </main>
</BaseLayout>